.m-head {
    padding: 0 15px;

    .m-title {
        padding: 16px 20px 14px 0;
        width: 154px 50px;
        background: url("//pic.english.c-ctrip.com/picaresenglish/ibu/fe-common/images/v1/trip-logo-3x.f0e440e1.png") no-repeat 0 0;
        background-size: 124px 30px;
        float: left;
    }
    
    .getData {
        background: linear-gradient(90deg, #FFB300 7%, #F57C00 92%);
        border-radius: 5px;
        width: 200px;
        height: 50px;
    }
}